@page "/DetallesProductos"

@using Samuel_Duran_Ap1_p1_.Entidades
@using Samuel_Duran_Ap1_p1_.BLL
@inject IToastService toastService

<EditForm Model="producto">
    <DataAnnotationsValidator />

    <div class="card" style="box-shadow: 8px 8px rgba(0, 0, 0, 0.26);">

        <div class="card-header">
            <h4 style="text-align: center;">Detalles de productos</h4>
        </div>

        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">

                    <div class="flex-fill mx-2">
                        <label>ID Producto</label>
                        <InputText class="form-control" @bind-Value="Criterio" />
                    </div>
                    <div class="flex-fill mx-2">
                        <label>Descripcion del producto</label>
                        <InputText class="form-control" readonly @bind-Value="producto.Descripcion" />
                    </div>

                    <button type="button" class="btn btn-lg btn-primary" @onclick="Buscar">🔎Buscar</button>
                </div>
            </form>
        </div>
        <table class="table table-light" style="box-shadow: 1px 6px rgba(0, 0, 0, 0.2);">
            <thead class="thead">
                <tr class="table">
                    <th>ID</th>
                    <th>|Descripción</th>
                    <th>|Cantidad</th>
                    <th>|Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Cantidad</td>
                        <td>RD$@item.Precio</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</EditForm>

@code {
    [Parameter]
    public int ProductoID { get; set; }
    public Productos producto { get; set; } = new Productos();
    public string Criterio { get; set; }
    public List<ProductosDetalle> lista { get; set; } = new List<ProductosDetalle>();

    private void Buscar()
    {
        if (Criterio != null)
        {
            producto = ProductosBLL.Buscar(int.Parse(Criterio));
            if(producto!=null)
                lista = producto.ProductosDetalle;
            else{
                    toastService.ShowError("Debe indicar el ID de un producto existente.");
            }
        }
        else
        {
            toastService.ShowError("Debe indicar el ID de un producto.");
        }
    }
}
