@page "/"

<PageTitle>Principal</PageTitle>
<h1 style="color:#FFFFFF; text-shadow: 1.5px 2.5px rgba(0, 0, 0, 0.5);">Página Principal</h1>

<h3 style="color:#FFFFFF; text-shadow: 1.5px 2.5px rgba(0, 0, 0, 0.5);">Bienvenida/o a mi proyecto de Blazor.</h3>


@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
